.header{
  margin-bottom: 30px;
}

input, select {
  display: block;
}

#city, #state, #zip{
  display: inline-block;
}

#city{
  width: 100px;
  margin-right: 5px;
}

#zip{
  width: 75px;
}

#state{
  height: 29px;
  margin-right: 5px;
}

.house-preview-button{
  max-width: 100%;
}

.house-preview-image{
  max-width: 100%;
}

.house-preview-name{
  height: 60px;
}

.house-preview-name p{
  white-space: normal;
  font-weight: 600;
}

.house-preview-image img{
  max-width: 100%;
  height: 100px;
}

.house-preview{
  text-align: center;
}

#house-preview-container{
  border-radius: .5em;
  border: solid 2px darkgray;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-bottom: 25px;
}

#house-preview-container > .row {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.house-preview{
  margin-bottom: 15px;
}

#rooms-container, #projects-container{
  border: solid 2px darkgray;
  border-radius: .5em;
  min-height: 500px;
  padding: 15px;
  text-align: center;
}

.room-listing, .project-listing{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px darkgray;
}

#tools-list-container, #parts-list-container{
  height: 150px;
  border: solid 1px darkgray;
  border-radius: .5em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.tool-image-container, .tool-image, .part-image-container, .part-image{
  max-width: 100%;
}

.part-price{
  position: relative;
  right: 10px;
}

.single-tool{
  border-bottom: solid 1px darkgray;
  margin-bottom: 10px;
}

#tools-list-container, #parts-list-container {
  overflow-y: scroll;
}

.part-image-container{
  padding-right: 0px;
}

.tools-delete, .parts-delete{
  position: relative;
  top: -5px;
}

.form-check{
  margin-bottom: 15px;
}

#new-house-button{
  float: right;
}

.delete-buttons{
  float: right;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: .5em;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}